<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function uploadFile() {
            return confirm("Da upload thanh cong");
        }
        function DeleteProduct(id) {
            return confirm("Da xoa thanh cong");
        }
    </script>
</head>
<body>
    <form action="/save" method="post" enctype="multipart/form-data" onsubmit="return uploadFile()">
        <div class="mb-3">
            <label for="name">Title</label>
            <input type="text" name="name" >
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="price" >
        </div>
        <div>
            <label for="images" >Images</label>
            <input type="file" name="images">
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
    <br>
    <br>

    <!-- <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="images" > <br>
        <input type="submit" value="upload">
    </form> -->
</body>
</html>